header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../img/Header\ Background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 60vh;
}

.text-header {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin-bottom: 30px;
}

.text-header h1 {
    font-family: "Luckiest Guy", sans-serif;
    font-weight: 400;
    font-style: Regular;
    width: 31%;
    font-size: calc(1rem + 3vw);
    color: white;
}

.text-header p {
    font-family: "Open Sans", sans-serif;
    width: 45%;
    font-size: calc(0.8rem + 0.2vw);
    color: white;
}

.btn-header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    width: 100%;
    height: 50px;
}

.btn-header button, button + button {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: calc(0.8rem + 0.2vw);
    width: 18%;
    border-radius: 20px;
    border: 0;
    cursor: pointer;
}

.btn-header button {
    background-color: white;
    color: #000;
    margin-right: 20px;
}

.btn-header button + button {
    background-color: #23272A;
    color: white;
}

.btn-header button:hover {
    background-color: rgb(219, 219, 219);
}

.btn-header button + button:hover {
    background-color: #101113;
    color: white;
}

.left-section, .right-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 75vh;
}

.img-left, .img-right {
    text-align: center;
    width: 100%;
    max-width: 650px;
}

.img-left img, .img-right img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}

.text-left, .text-right {
    font-family: "Open Sans", sans-serif;   
    width: 24%;
}

.text-left h2, .text-right h2 {
    font-weight: 800;
    font-style: ExtraBold;
    font-size: calc(0.1rem + 2.5vw);
    margin-bottom: 20px;
}

.text-left p, .text-right p {
    font-size: calc(0.8rem + 0.2vw);
    font-weight: 400;
    font-style: Regular;
}

.right-section {
    flex-direction: row-reverse;
    background-color: #F6F6F6;
}

.middle-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F6F6F6;
}

.text-middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}

.text-middle h2, .text-middle p {
    font-weight: 400;
    font-style: Regular;
}

.text-middle h2 {
    font-family: "Luckiest Guy", sans-serif;
    font-size: calc(1rem + 2vw);
    margin-top: 60px;
    width: 44%;
}

.text-middle p {
    font-family: "Open Sans", sans-serif;
    font-size: calc(0.8rem + 0.2vw);
    width: 50%;
    margin-top: 30px;
}

.img-middle {
    text-align: center;
    width: 100%;
    max-width: 900px;
}

.img-middle img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #23272A;
    height: 12vh;
}

.img-footer {
    width: 100%;
    max-width: 200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.img-footer img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}

@media screen and (min-width: 700px) and (max-width: 769px) {

    .text-header p {
        width: 90%;
    }

    .img-left, .img-right {
        max-width: 500px;
    }

    .img-middle {
        max-width: 650px;
    }

    .btn-header button, button + button {
        width: 30%;
    }
}

@media screen and (min-width: 1px) and (max-width: 700px) {
    header {
        padding: 9vw;
    }

    .text-header h1 {
        text-align: start;
        align-self: flex-start;
        width: 50%;
    }

    .text-header p {
        text-align: start;
        width: 100%;
    }

    .btn-header {
        flex-direction: column;
        align-items: center;
        height: auto;
        row-gap: 10px;
    }

    .btn-header button, button + button {
        width: 100%;
        height: 45px;
    }

    .btn-header button {
        margin-right: 0;
    }

    .left-section, .right-section {
        flex-direction: column;
    }

    .text-left, .text-right {
        width: 90%;
    }

    .text-left h2, .text-right h2 {
        margin-top: 30px;
        font-size: calc(0.8rem + 2.5vw);
    }

    .img-left, .img-right {
        max-width: 400px;
    }

    .img-middle {
        max-width: 400px;
    }

    .text-middle h2, .text-middle p {
        width: 90%;
        text-align: start;
    }

    .text-middle h2 {
        font-size: calc(1.5rem + 2vw);
    }
}
